/* Estilo para o grid */
.repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 colunas, com tamanho mínimo de 300px */
    gap: 20px; /* Espaçamento entre os cards */
}

/* Estilo para os cards */
.repo-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

/* Estilo para o título do repositório */
.repo-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Estilo para a descrição do repositório */
.repo-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

/* Estilo para as linguagens do repositório */
.repo-languages {
    font-size: 1em;
    margin-bottom: 5px;
}

/* Estilo para o link do repositório */
.repo-link {
    font-size: 1em;
    color: #0366d6;
    text-decoration: none;
}

.repo-link:hover {
    text-decoration: underline;
}
